.menu-column {
    background-color: #5289ab;
    height:100vh;
    transition: 0.5s;
    width: 17vw;
    position: fixed;
    z-index: 2;
    padding-top: 60px;
    cursor: pointer;
    overflow: hidden;
    left: 0vw;
    top: 0;
}

.menu-column.collapsed {
    left: -15vw;
}
.menu-column.collapsed:hover {
    left: -14vw;
}


.menu-column .arrow {
    width: 6px;
    height: 6px;
    border: 3px solid;
    border-color: white transparent transparent white;
    transform: rotate(-45deg);
    float: right;
    transition: 0.5s;
    margin-left: 10px; 
    position: absolute;
    top: 50%;
    right: 8px;
}

.menu-column .arrow.collapsed {
    transform: rotate(135deg);
}

#main-menu{
    margin: 0;
    position: absolute;
    top: 8%;
    left: 15%;
    width: 75%;
}

#main-menu li {
    padding: 10px 0px;
    font-size: 24px;
}

#main-menu li:hover {
    /*background-color:#71bbeb;*/
}

#main-menu a {
    display: inline-block;
}

#main-menu a:hover {
    color: black;
}

#main-menu .sub-menu {
    margin-left: 15px;
}

#main-menu .sub-menu li{
    font-size: 17px;
}
