.sub-menu.collapsed {
}

.sub-menu {
    display: none;
}

.link-arrow {
    width: 6px;
    height: 6px;
    border: 3px solid;
    border-color: white transparent transparent white;
    transform: rotate(-135deg);
    transition: 0.5s;
    display: inline-block;
    margin-left: 15px;
}

.link-arrow.collapsed {
    transform: rotate(-45deg);
}

.parent-link {
    position: relative;
}